.bookshelf {
  padding: 20px;
  margin-top: 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

@media (max-width: 450px) {
  .bookshelf-title {
    text-align: center;
  }
}

.bookshelf-grey-light {
  padding: 20px;
  margin-top: 20px;
  background-color: #f8f9fa;
}

.bookshelf-books {
  text-align: center;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
